header {
    position: fixed;
    z-index: 1;
    width: 98%;
    background-color: #1692ff;
    left: 0px;
    top: 0px;
    padding: 15px;
    height: 5vw;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0px 10px 15px 2px gray;
}

nav {
    float: left;
    display: block;
    margin: 1.5%;
    text-align: center;
    width: 400px;
}

#nav_list {
    display: initial;
}

header img {
    float: right;
}

#nav_list >li{
    list-style-type: none;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

#nav_list >li a {
    color: black;
    text-decoration: none;
    font-size: 16pt;
    transition: font-size 0.4s, color 0.4s;
}

#nav_list >li a:hover {
    display: initial;
    color: darkblue;
    text-decoration: underline;
    font-size: 18pt;
}

#nav_list >li a:active {
    color: #0f0f49;
    text-decoration: underline;
    transition: font-size 0.2s;
    font-size: 15pt ;
}

#nav_list >li a:visited {
    font-color: gray;
    text-decoration: underline;
}