footer
{
    width: 90%;
    margin: auto;
    padding: 15px 15px 0px 15px;
    box-shadow: 0px 10px 20px 2px gray;
    border-radius: 20px;
    background-color: #1692ff;
}

address a {
    display: inline-block;
    margin-right: 10px;
}

address {
    text-align: center;
}

footer li {
    display: inline-block;
    margin-right: 15px;
}

footer ul {
    text-align: center;
}

footer a {
    color: black;
    text-decoration: none;
}

footer p {
    color: white;
    text-align: center;
}
