#header1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 95%;
    background-color: #1692ff;
    border-radius: 20px;
    padding: 0.8%;
    box-shadow: 0px 10px 15px 2px gray;
}

body {
    background-image: url("фон1.png");
}

#header1 nav {
    display: flex;
    gap: 10vh;
    flex-grow: 1;
    justify-content: center;
}

.logo {
    background-image: url("Логотип.png");
    background-repeat: no-repeat;
    width: 9vh;
    height: 9vh;
}

nav > p {
    font-size: 3vh;
}

#all {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    gap: 1.3vh;
    justify-content: space-between;
}

main {
    width: 95%;
    display: flex;
    gap : 10px;
}

#body {
    width: 95%;
    background-color: white;
    padding: 0.8%;
    box-shadow: 0px 10px 15px 2px gray;
    border-radius: 20px;
    display: flex;
    gap: 4vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    order:-1;
    flex: 9;
}

#mini_navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #1692ff;
    padding: 20px;
    border-radius: 20px;
    flex: 1;
    box-shadow: 0px 10px 15px 2px gray;
}

#mini_navigation p {
    font-size: 14pt;
}

#mini_navigation  ul{
    display: flex;
    flex-direction: column;
    gap:30px;
    padding: 0;
}

#mini_navigation li {
    list-style-type: none;
    font-size: 14pt;
    text-align: center;
}

#mini_navigation a {
    color: black;
    text-decoration: none;
}

#mini_navigation a:hover {
    color: #0f0f49;
    text-decoration: underline;
}

@media screen and (max-width: 1000px)
{
    main {
        flex-direction: column;
    }

    #body {
        order: 1;
    }

    #mini_navigation ul {
        flex-direction: row;
        justify-content: space-evenly;
    }

    #mini_navigation p {
        display: none;
    }
}


#list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-evenly;
    gap: 50px;
    max-width: 90%;
}

@media screen and (max-width: 1000px)
{
    #header1 {
        display: none;
    }

    #header2 {
        display: block;
    }
}

@media  screen and (min-width: 1000px) {
    #header2 {
        display: none;
    }

}

#main_menu {
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: gray;
}

#main_menu nav
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    width: 95%;
    margin: auto;
}

#main_menu p {
    font-size: 15pt;
    display: block;
    margin: 0;
    text-align: center;
}

#main_menu input {
    align-self: flex-end;
}


#menu_toggle {
    opacity: 0;
}

.menu_btn {
    display: flex;
    align-items: center;
    background-color: white;
    padding:5px;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    border-color: #3fa3ff;
    box-shadow: 3px 3px 12px 1px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 62px;
    left: 40px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
    display: block;
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: black;
    transition: 0.5s ease;
}
.menu_btn > span::before {
    content: '';
    top: -8px;
}
.menu_btn > span::after {
    content: '';
    top: 8px;
}

.menu_box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: -100%;
    left: 0;
    width: 100%;
    margin: 0;
    list-style: none;
    text-align: center;
    background-color: #1691fe;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    padding: 0;
}

.menu_item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.menu_item:hover {
    background-color: #006ac4;
}

#menu_toggle:checked ~ .menu_btn > span {
    transform: rotate(45deg);
}

#menu_toggle:checked ~ .menu_btn > span::before {
    top: 0;
    transform: rotate(0) scale(0);
}

#menu_toggle:checked ~ .menu_btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu_toggle:checked ~ .menu_box {
    visibility: visible;
    top: 0;
}

.menu_box {
    transition-duration: .25s;
}

section h1 {
    font-size: 27pt;
}

footer {
    width: 95%;
    padding:10px;
    box-shadow: 0px 10px 15px 2px gray;
    background-color: #1692ff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 20px;
}

footer ul {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 0;
    padding: 0;
}

footer ul li {
    list-style-type: none;
}

footer p {
    margin: 0;
}

h1, h2,  h3, h4 {
    font-family: 'Roboto', sans-serif;
}

 p, dl, dt, li, legend {
    font-family: 'Source Sans Pro', sans-serif;
}

blockquote,  q {
    font-family: 'Source Sans Pro', italic;
}

a{
    font-family: 'Roboto', sans-serif;
}

header a {
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

header a:hover {
    text-decoration: underline;
    color: darkblue;
    font-size: 3.3vh;
    transition: 0.3s;
}


.card {
    padding: 20px;
    width: 370px;
    height: 370px;
    box-shadow: 0px 10px 15px 2px gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.5s ease;
}

.card img, .card .card_name {
    align-self: center;
}

.card .card_name {
    font-size: 18pt;
    font-weight: bold;
    text-align: center;
}

.card > p {
    font-size: 13pt;
    transition: 0.6s ease;
    color: white;
    z-index: -1;
    margin-top: -20px;
    align-self: center;
}

.card:hover {
    transform: scale(110%);
    z-index: 1;
}

.card:hover p {
    color: black;
}

.card:hover img {
    transform: translateY(-40px);
}

.card img {
    box-shadow: 0px 10px 15px 2px gray;
    margin-top: -50px;
    transition: 0.5s ease;
}

.card:hover #button2 {
    background-color: #2292fb;
    color: black;
}

.card:hover #button2:hover {
    background-color: white;
    color: black;
}

#button2 {
    background-color: white;
    color: white;
    transition: 0.5s ease;
    width: 300px;
    height: 45px;
    align-self: center;
    font-size: 15pt;
    display: flex;
    margin-top: -10px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 10px 10px 4px rgba(122, 122, 122, 0.23);
    z-index: -1;
}

#text {
    text-align: center;
    width: 100%;
}

#text::before {
    content: '';
    display: block;
    background-color: #3898f8;
    width: 0;
    margin-left: 100%;
    height: 5px;
    margin-bottom: 8px;
    transition: 0.5s ease;
}

#text::after {
    content: '';
    display: block;
    background-color: #3898f8;
    width: 0;
    margin-left: 0;
    margin-top: 8px;
    height: 5px;
    transition: 0.5s ease;
}

#button2:hover > #text::before,
#button2:hover > #text::after
{
    margin-left: 0;
    width: 100%;
}

#button1 {
    z-index: -1;
    width: 300px;
    height: 40px;
    align-self: center;
    border-radius: 30px;
    font-size: 15pt;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
    margin-top: -10px;
    box-shadow: 0px 10px 10px 4px rgba(122, 122, 122, 0.23);
}

#back {
    width: 0%;
    height: 100%;
    transition: 0.5s ease ;
    background-color: #2292fb;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button1:hover #back {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    transition:0.5s ease;
    transform:scale(105%);
    /*transition: scale 0.5s ease;*/
}

#button1:hover {
    box-shadow: 0px 10px 10px 4px rgb(145, 198, 255);
    transform: scale(105%);
    transition: 0.5s ease;
}

#button4 {
    z-index: -1;
    width: 300px;
    align-self: center;
    height: 40px;
    margin-top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
    border-style: solid;
    border-color: #ffffff;
    border-width: 5px;
    border-radius: 50px;
}

#button4 > #back1 {
    font-size: 15pt;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 97%;
    height: 84%;
    background-color: #55a3fb;
    box-shadow: 0px 10px 10px 4px rgba(122, 122, 122, 0.23);
}

#button4:hover {
    transform:  translateY(-10px);
    border-style: solid;
    border-color: #6fb1ff;
    border-width: 5px;
    border-radius: 50px;
    box-shadow: 0px 0px 40px 6px #6fb1ff;
}

#button4:hover > #back1 {
    box-shadow: 0px 0px 0px 0px rgba(122, 122, 122, 0.23)
}

#button3 {
    background-color: #53a3ff;
    width: 300px;
    align-self: center;
    z-index: -1;
    height: 40px;
    font-size: 15pt;
    margin-bottom: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
    box-shadow: 0px 10px 10px 4px rgba(122, 122, 122, 0.23);
    border-radius: 50px;
}

#button3:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 0px 0px rgb(58, 114, 175);
}

#button3:active {
    transform: scale(98%) translateY(-10px);
    background-color: #4993e8;
    box-shadow: 0px 10px 0px 0px rgb(58, 114, 175) inset;
}

@keyframes circle-to-block {
    from {
        width: 50px;
        height: 50px;
        border-radius: 50%;

    }

    to {
        width: 300px;
        height: 300px;
        border-radius: 20px;
    }
}

@keyframes block-to-circle {
    from {
        width: 300px;
        height: 300px;
        border-radius: 20px;
    }

    to {
        width: 50px;
        height: 50px;
        border-radius: 50%;

    }
}

#not {
    position: fixed;
    left: 95%;
    top: 93vh;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 10px 10px 4px rgba(122, 122, 122, 0.23);
    transition: 1s;

    animation-name: block-to-circle;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

#not:hover {
    top: calc(93vh - 250px);
    left: calc(95% - 250px);
    animation-name: circle-to-block;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-duration: 1s;
}

#not:hover #header
{
    width: 100%;
    background-color: #53a3ff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#not:hover #content {
    transform: scale(100%);
    transition: 1s ease 0.2s;
}

#not #header {
    width: 100%;
    transition: 1s;
    flex-grow: 1;
    display: flex;
    justify-content: start;
}

#not #content {
    transform: scale(0);
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s ease;
    overflow: auto;
    gap: 10px;
}

#content p {
    border-style: solid;
    height: 50px;
    margin: 0;
    width: 90%;
    font-size: 15pt;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

#Label {
    display: flex;
    flex-direction: column;
    color: white;
    position: relative;
    top: -38%;
    transition: 0.5s;
    transform: scaleY(0);
}

#video {
    display: flex;
    flex-direction: column;
}

#video::before {
    display: block;
    content: "";
    width: 500px;
    height: 200px;
    background-color: black;
    opacity: 90%;
    transition: 0.5s;
    transform: translateY(180%) translatex(-10%) scaleY(0);
}

#video:hover::before {
    transform: translateY(180%) translatex(-10%) scaleY(100%);
}

#video:hover #Label {
    color: white;
    transform: scaleY(100%);
}

#not #counter {

    position: absolute;
    top: -20px;
    left: -15px;
    background-color: #d71f3d;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    display: none;
    align-items: center;
    justify-content: center;
}

#picture {
    background-color: gray;
    position: fixed;
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
    z-index: 10;
}

#picture div {
    background-color: #3e80cb;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
}
