/* Основной блок с контентом + задний фон */
main {
    width: 90%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 6vw;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0px 10px 20px 2px gray;
}

body {
    background-image: url("/Фото/Фон1.png");
}

/* Настройка скроллбара и прокрутки страницы */
html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 9px;
    background-color: #ffffff;
}


body::-webkit-scrollbar-thumb {
    width: 12px;
    background-color: #8a8a8a;
    border-radius: 25px;
}

body::-webkit-scrollbar-thumb:hover {
    width: 12px;
    background-color: #797979;
    border-radius: 25px;
}

body::-webkit-scrollbar-thumb:active {
    width: 12px;
    background-color: #626262;
    border-radius: 25px;
}

/* Настройка текста на странице */
main h1, main h2, main h3, main h4 {
    font-family: 'Roboto', sans-serif;
}

main p, main dl, main dt, main li, legend {
    font-family: 'Source Sans Pro', sans-serif;
}

main blockquote, main q {
    font-family: 'Source Sans Pro', italic;
}

main a{
    font-family: 'Roboto', sans-serif;
}

h3 {
    text-align: center;
}

#main_name
{
    text-align: center;
}

main p, main dl, main dt, main li {
    font-size: 14pt;
}

/* Главная цитата на странице */
blockquote {
    width: 80%;
    padding: 40px;
    margin: 20px auto;
    border-style: double;
    border-radius: 20px;
    border-color: gray;
}

blockquote {
    quotes: "\""  "\"";
}

blockquote::before {
    content: open-quote;
    font-size: 18pt;
}

blockquote::after {
    content: close-quote;
    font-size: 18pt;
}

/* Настройка заголовков */
h3 + div {
    background-color: black;
    width: 100px;
    height: 3px;
    border-radius: 7px;
    margin: -10px auto;
}

/* Фото учёного*/
#photo {
    float: left;
    margin: 20px;
    box-shadow: 0px 10px 15px 2px gray;
}

/* Стрелка наверх */
#moveUp {
    position: sticky;
    bottom: 10px;
}

iframe
{
    margin: 20px;
    display: block;
    margin: auto;
}